@model IEnumerable<VoetbalEvents.Models.Wedstrijd>

@{
    ViewData["Title"] = "Index";
}

<h1>Wedstrijd Overzicht</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="@item.Foto" alt="@item.Naam">
                <div class="card-body">
                    <h5 class="card-title">@item.Naam</h5>
                    <p class="card-text">@item.Beschrijving</p>
                    <p class="card-text"><strong>Datum:</strong> @item.Datum.ToString("dd-MM-yyyy")</p>
                    <p class="card-text"><strong>Max Kaarten:</strong> @item.MaxKaarten</p>
                    <p class="card-text"><strong>Toeschouwers:</strong> @item.Toeschouwers</p>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.WedstrijdID" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.WedstrijdID" class="btn btn-danger">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.WedstrijdID" class="btn btn-info">Details</a>
                </div>
            </div>
        </div>
    }
</div>
